<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <hr />
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/my-bands-members"></fa><fa name="users" class="header-icon"></fa>{{this.item.memberName}}</h5></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4  text-center">
          <img [src]="memberPic" class="rounded-circle shadow view-member-image" alt="...">
          <input style="display:none" type="file" (change)="upload($event, item.id)" accept=".png,.jpg" #fileInput />
          <div class="space">
            <button type="button" class="btn btn-danger btn-block" (click)="fileInput.click()">Change</button>
          </div>
        </div>
        <div class="col-sm-4">

        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center">Profile</h5>
              <hr />
              <table>
                  <tr>
                    <td class="member-profile-title">
                      Birthday:
                    </td>
                    <td class="member-profile-text">
                      {{this.item.memberDOB.toDate() | date:'MM-dd-yyyy'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Instrument:
                    </td>
                    <td class="member-profile-text">
                      {{this.item.memberInstrument}}
                    </td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center">Biography</h5>
              <hr />
              <p class="biography-text">{{this.item.memberBio}}</p>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
