<div class="modal-header">
  <h5 class="modal-title pull-left info-title-text">{{ title }}</h5>
  <button type="button" class="close pull-right close-modal btn-lg" aria-label="Close" (click)="modalRef.hide()" tooltip="Close" placement="left">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body info-body-text">
  <div class="row">
    <div class="col-sm-12">
      <div id="element1"><h5>Create Playlist</h5></div>
      <div id="element2" tooltip="Create Playlist" placement="left"><fa name="list fa-lg" class="action-event" (click)="createPlaylist()"></fa></div>
    </div>
  </div>
  <hr />
  
