<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/bands" tooltip="Back to Home" placement="right"></fa>Pop Bands</h5></div>
        </div>
      </div>
      <hr />
      <div class="row text-center">
        <div class="col-sm-12">
          <div class="center-components">
            <img src="assets/images/seeds.jpeg" class="all-bands-img shadow" alt="...">
            <div>
              <h5 class="all-bands-title">This Day Burns</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
