<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/my-bands-events"></fa><fa name="calendar" class="header-icon"></fa>{{ this.item.eventTitle }}</h5></div>
        </div>
      </div>
        <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any Bands By Fans.</p>
          <fa name="heartbeat" class="heartbeat"></fa>
          <button routerLink="/create-bands-by-fans" class="btn btn-outline-danger btn-block btn-sm">
            Add Bands By Fans
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <img src="assets/images/seeds.jpeg" class="rounded-circle img-responsive shadow" alt="...">
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
          <table>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.eventTitle}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.eventTitle}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.eventTitle}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.eventTitle}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.eventTitle}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.eventTitle}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div Class="row">
        <div class="col-md-6">
          <h5>Information</h5>
          <hr />
          Have data around fans invlovement in this section.
        </div>
        <div class="col-md-6">
          <h5>Map</h5>
          <hr />
          <!-- TODO: Link up venu address to lat and long for event location. -->
          <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
            <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="login-box shadow" *ngFor="let item of items">
        <div class="row" (click)="viewBandsByFans()">
          <div class="col-sm-12">
            <div id="container">
              <div id="left">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle">
              </div>
              <div id="center">
                <p class="album-text">{{item.payload.doc.data().chosenCountry}}</p>
                <p class="album-text">{{item.payload.doc.data().ticketPrice}}</p>
              </div>
              <div id="right">
                <fa name="chevron-right" class="chevron-style"></fa>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
