<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5 class="edit-label-style"><fa name="calendar" class="header-icon"></fa>Edit Event</h5></div>
          <div id="element2" tooltip="Close" placement="left"><fa name="times fa-lg" class="action-event" routerLink="/my-bands-events"></fa></div>
        </div>
      </div>
      <hr class="edit-hr-style" />
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
            <div class="form-row">
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Title</label>
                <input type="text" formControlName="eventTitle" class="form-control form-control-sm" placeholder="Event Title" required />
                <div *ngIf="editForm.controls['eventTitle'].invalid && (editForm.controls['eventTitle'].dirty || editForm.controls['eventTitle'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['eventTitle'].errors.required">
                    Title is required!
                  </div>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Venue</label>
                <input type="text" formControlName="eventVenue" class="form-control form-control-sm" placeholder="Event Venue" required />
                <div *ngIf="editForm.controls['eventVenue'].invalid && (editForm.controls['eventVenue'].dirty || editForm.controls['eventVenue'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['eventVenue'].errors.required">
                    Venue is required!
                  </div>
                </div>
              </div>
              <!-- TODO: Is there a validator to check post or zip codes? -->
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Post/Zip Code</label>
                <input type="text" formControlName="eventPostcode" class="form-control form-control-sm" placeholder="Post/Zip Code" required />
                <div *ngIf="editForm.controls['eventPostcode'].invalid && (editForm.controls['eventPostcode'].dirty || editForm.controls['eventPostcode'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['eventPostcode'].errors.required">
                    Postcode is required!
                  </div>
                </div>
              </div>
            </div>
            <hr class="edit-hr-style" />
            <div class="form-row">
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Hour</label>
                <select formControlName="eventStartHour" class="form-control form-control-sm" placeholder="Minutes" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <div *ngIf="editForm.controls['eventStartHour'].invalid && (editForm.controls['eventStartHour'].dirty || editForm.controls['eventStartHour'].touched)" class="alert alert-danger errors">
                  <div *ngIf="editForm.controls['eventStartHour'].errors.required">
                    Hour is required!
                  </div>
                </div>
                <!--<input type="text" formControlName="eventStartHour" class="form-control form-control-sm" placeholder="Hours" required />-->
              </div>
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Minute</label>
                <select formControlName="eventStartMinute" class="form-control form-control-sm" placeholder="Minutes" required>
                  <option value="0">0</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
                <div *ngIf="editForm.controls['eventStartMinute'].invalid && (editForm.controls['eventStartMinute'].dirty || editForm.controls['eventStartMinute'].touched)" class="alert alert-danger errors">
                  <div *ngIf="editForm.controls['eventStartMinute'].errors.required">
                    Minute is required!
                  </div>
                </div>
                <!--<input type="text" formControlName="eventStartMinute" class="form-control form-control-sm" placeholder="Minutes" required />-->
              </div>
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">AM:PM</label>
                <select formControlName="eventStartAmPm" class="form-control form-control-sm" placeholder="Minutes" required>
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
                </select>
                <div *ngIf="editForm.controls['eventStartAmPm'].invalid && (editForm.controls['eventStartAmPm'].dirty || editForm.controls['eventStartAmPm'].touched)" class="alert alert-danger errors">
                  <div *ngIf="editForm.controls['eventStartAmPm'].errors.required">
                    AM:PM is required!
                  </div>
                </div>
                <!--<input type="text" formControlName="eventStartAmPm" class="form-control form-control-sm" placeholder="AM:PM" required />-->
              </div>
            </div>
            <!-- TODO: Prevent earlier dates than today being selected -->
            <div class="form-row">
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Date</label>
                <input type="text" onKeyDown="return false" formControlName="eventDate" placeholder="Event Date" class="form-control form-control-sm" bsDatepicker required />
                <div *ngIf="editForm.controls['eventDate'].invalid && (editForm.controls['eventDate'].dirty || editForm.controls['eventDate'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['eventDate'].errors.required">
                    Date is required!
                  </div>
                </div>
                <!--<input type="text" formControlName="eventDate" class="form-control form-control-sm" placeholder="Event Date" required />-->
              </div>
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Tickets</label>
                <input type="number" min="0" onKeyDown="return false" formControlName="availableTickets" class="form-control form-control-sm" placeholder="Tickets" required />
                <div *ngIf="editForm.controls['availableTickets'].invalid && (editForm.controls['availableTickets'].dirty || availableTickets.controls['availableTickets'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['availableTickets'].errors.required">
                    Tickets is required!
                  </div>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Price</label>
                <input type="number" min="0" onKeyDown="return false" formControlName="eventPrice" class="form-control form-control-sm" placeholder="Price" required />
                <div *ngIf="editForm.controls['eventPrice'].invalid && (editForm.controls['eventPrice'].dirty || eventPrice.controls['eventPrice'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['eventPrice'].errors.required">
                    Price is required!
                  </div>
                </div>
              </div>
            </div>
            <hr class="edit-hr-style" />
            <div class="form-row">
              <div class="col-sm-12 form-group">
                <label class="edit-label-style">Description</label>
                <textarea formControlName="eventDescription" class="form-control form-control-sm" placeholder="Description" required></textarea>
                <div *ngIf="editForm.controls['eventDescription'].invalid && (editForm.controls['eventDescription'].dirty || editForm.controls['eventDescription'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['eventDescription'].errors.required">
                    Description is required!
                  </div>
                </div>
              </div>
            </div>
            <hr class="edit-hr-style" />
            <div class="form-row">
              <div class="col-sm-4">

              </div>
              <div class="col-sm-4 form-group">
                <button type="submit" class="btn btn-danger btn-block" [disabled]="editForm.invalid">Update</button>
              </div>
              <div class="col-sm-4">

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
