<div class="container-fluid" no-padding>
<div class="row login-box shadow">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/main-page" tooltip="Back to Home" placement="right"></fa>Events</h5></div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Events Near You</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">January</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/january-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">February</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/february-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">March</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/march-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">April</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/april-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">May</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/may-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">June</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/june-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">July</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/july-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">August</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/august-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">September</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/september-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">October</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/october-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">November</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/november-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title pull-left">December</h5>
            <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/december-events" tooltip="See All" placement="left"></fa>
            <br />
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
