<div class="container-fluid" no-padding>
<div class="row login-box shadow">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/main-page" tooltip="Back to Home" placement="right"></fa>Events</h5></div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Events Near You</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">January</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">February</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">March</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">April</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">May</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">June</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">July</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">August</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">September</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">October</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">November</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">December</h5>
            <hr />
            <div style="text-align:center">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/fireworks.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/events.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stagelight.jpeg" class="set-image"></ng-template>
                <ng-template carouselSlide><img src="assets/images/stairslight.jpeg" class="set-image"></ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
