<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/profile" tooltip="Back to Dashboard" placement="right"></fa><fa name="users" class="header-icon"></fa>Members</h5></div>
          <div id="element2" tooltip="Add Member" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-member"></fa></div>
        </div>
      </div>
      <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any Members.</p>
          <fa name="users" class="no-data-icon"></fa>
          <button routerLink="/create-member" class="btn btn-outline-danger btn-block btn-sm">
            Add Member
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <div class="card center-components" *ngFor="let item of items">
            <div class="card-body">
              <h5 class="card-title">{{item.payload.doc.data().memberName}}</h5>
              <div *ngif="">
                <fa name="user" class="no-member-image-icon"></fa>
              </div>
              <div>
                <img src="assets/images/johnny.jpg" class="rounded-circle" alt="...">
              </div>
              <hr />
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary btn-block btn-sm">Edit</button>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-danger btn-block btn-sm">Delete</button>
                </div>
              </div>
              <!--<div tooltip="Edit Member" placement="right">
                <fa name="pencil" class="edit-icon" (click)="editMember(item)"></fa>
                <fa name="trash" class="edit-icon" (click)="editMember(item)"></fa>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
