<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <hr />
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/profile" tooltip="Back to Dashboard" placement="right"></fa><fa name="play" class="header-icon"></fa>Videos</h5></div>
          <div id="element2" tooltip="Add Video" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-video"></fa></div>
        </div>
      </div>
        <hr />
      <!-- No data shows when their is no vi data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any videos.</p>
          <fa name="film" class="no-data-icon"></fa>
          <button routerLink="/create-video" class="btn btn-outline-danger btn-block btn-sm">
            Add Video
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <div class="card center-components shadow" *ngFor="let item of items">
            <div class="card-body">
              <h5>{{item.payload.doc.data().videoTitle}}</h5>
              <div class="rounded-circle">
                <!-- This works with a single ID but gives an error of SameSite when trying
                to use ID from database -->
                <youtube-player
                  [videoId]="item.payload.doc.data().youTubeId"
                  (ready)="savePlayer($event)"
                  (change)="onStateChange($event)"
                  [playerVars]="playerVars"
                  [height]="200"
                  [width]="250"
                >
                </youtube-player>
              </div>
              <!--<vg-player>
                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                </video>
              </vg-player>-->
              <hr />
              <div class="row">
                <div class="col-sm-12">
                  <div id="icon10">
                    <button type="button" class="btn btn-danger btn-sm btn-block" tooltip="Edit" placement="top"><fa name="pencil" class="nav-icons" (click)="editVideo(item)"></fa></button>
                  </div>
                  <div id="icon10">
                    <button type="button" class="btn btn-danger btn-sm btn-block"tooltip="Delete" placement="top"><fa name="trash" class="nav-icons" (click)="deleteVideo(item)"></fa></button>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
