<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5 class="edit-label-style"><fa name="music" class="header-icon"></fa>Edit Song</h5></div>
          <div id="element2" tooltip="Close" placement="left"><fa name="times fa-lg" class="action-event" (click)="cancel()"></fa></div>
        </div>
      </div>
      <hr class="edit-hr-style" />
      <!-- FIX: Need to pass ID from Album page. Unsure of how to do this since the image ipload has been added -->
      <form [formGroup]="editSongForm" (ngSubmit)="onSubmit(editForm.value)">
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Title</label>
            <input type="text" formControlName="songTitle" class="form-control form-control-sm" placeholder="Song Title" required />
            <div *ngIf="editForm.controls['songTitle'].invalid && (editForm.controls['songTitle'].dirty || editForm.controls['songTitle'].touched)" class="alerts">
              <div *ngIf="editForm.controls['songTitle'].errors.required">
                Title is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Song No.</label>
            <input type="number" onKeyDown="return false" min="1" max="50" formControlName="songNumber" class="form-control form-control-sm" placeholder="Song No." required />
            <div *ngIf="editForm.controls['songNumber'].invalid && (editForm.controls['songNumber'].dirty || editForm.controls['songNumber'].touched)" class="alerts">
              <div *ngIf="editForm.controls['songNumber'].errors.required">
                Song No. is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">ISRC</label>
            <input formControlName="isrcCode" class="form-control form-control-sm" placeholder="ISRC" required />
          </div>
        </div>
        <hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">ISWC</label>
            <input formControlName="iswcCode" class="form-control form-control-sm" placeholder="ISWC" required />
            <div *ngIf="editForm.controls['isrcCode'].invalid && (editForm.controls['isrcCode'].dirty || editForm.controls['isrcCode'].touched)" class="alerts">
              <div *ngIf="editForm.controls['isrcCode'].errors.required">
                ISRC is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Minutes</label>
            <input type="number" onKeyDown="return false" min="0" max="59" formControlName="durationMinutes" class="form-control form-control-sm" placeholder="Minutes" required />
            <div *ngIf="editForm.controls['iswcCode'].invalid && (editForm.controls['iswcCode'].dirty || editForm.controls['iswcCode'].touched)" class="alerts">
              <div *ngIf="editForm.controls['iswcCode'].errors.required">
                ISWC is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Seconds</label>
            <input type="number" onKeyDown="return false" min="0" max="59" formControlName="durationSeconds" class="form-control form-control-sm" placeholder="Seconds" required />
            <div *ngIf="editForm.controls['durationSeconds'].invalid && (editForm.controls['durationSeconds'].dirty || editForm.controls['durationSeconds'].touched)" class="alerts">
              <div *ngIf="editForm.controls['durationSeconds'].errors.required">
                Seconds is required!
              </div>
            </div>
          </div>
        </div>
        <hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Writers</label>
            <input type="text" formControlName="songWriters" class="form-control form-control-sm" placeholder="Song Writers" required />
            <div *ngIf="editForm.controls['songWriters'].invalid && (editForm.controls['songWriters'].dirty || editForm.controls['songWriters'].touched)" class="alerts">
              <div *ngIf="editForm.controls['songWriters'].errors.required">
                Song Writers required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Publisher</label>
            <input type="text" formControlName="publisher" class="form-control form-control-sm" placeholder="Publisher" required />
            <div *ngIf="editForm.controls['publisher'].invalid && (editForm.controls['publisher'].dirty || editForm.controls['publisher'].touched)" class="alerts">
              <div *ngIf="songForm.controls['publisher'].errors.required">
                Publisher required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Label Name</label>
            <input type="text" formControlName="labelName" class="form-control form-control-sm" placeholder="Label Name" required />
            <div *ngIf="editForm.controls['labelName'].invalid && (editForm.controls['labelName'].dirty || editForm.controls['labelName'].touched)" class="alerts">
              <div *ngIf="editForm.controls['labelName'].errors.required">
                Label name required!
              </div>
            </div>
          </div>
        </div>
        <hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Product Catalogue No.</label>
            <input type="text" formControlName="productCatalogueNumber" class="form-control form-control-sm" placeholder="Product Catalogue Number" required />
            <div *ngIf="editForm.controls['productCatalogueNumber'].invalid && (editForm.controls['productCatalogueNumber'].dirty || editForm.controls['productCatalogueNumber'].touched)" class="alerts">
              <div *ngIf="editForm.controls['productCatalogueNumber'].errors.required">
                Product # is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Disc No.</label>
            <input type="text" formControlName="discNumber" class="form-control form-control-sm" placeholder="Disc Number" required />
            <div *ngIf="editForm.controls['discNumber'].invalid && (editForm.controls['discNumber'].dirty || editForm.controls['discNumber'].touched)" class="alerts">
              <div *ngIf="editForm.controls['discNumber'].errors.required">
                Disc # is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">GRID</label>
            <input type="text" formControlName="grid" class="form-control form-control-sm" placeholder="GRID" required />
            <div *ngIf="editForm.controls['grid'].invalid && (editForm.controls['grid'].dirty || editForm.controls['grid'].touched)" class="alerts">
              <div *ngIf="editForm.controls['grid'].errors.required">
                GRID is required!
              </div>
            </div>
          </div>
        </div>
        <!--<hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Bundle Name</label>
            <input type="text" formControlName="bundleName" class="form-control form-control-sm" placeholder="Bundle Name" required />
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Bundle Id</label>
            <input type="text" formControlName="bundleId" class="form-control form-control-sm" placeholder="Bundle Id" required />
          </div>
          <div class="col-sm-4 form-group">
            <label class="edit-label-style">Product Name</label>
            <input type="text" formControlName="productName" class="form-control form-control-sm" placeholder="Physical Product Name" required />
          </div>
        </div>-->
        <hr class="create-hr-style" />
        <div class="form-row">
          <div class="col-sm-12">
            <label class="edit-label-style">Description</label>
            <textarea type="text" formControlName="description" class="form-control form-control-sm" placeholder="Describe Your Song"></textarea>
            <div *ngIf="editForm.controls['description'].invalid && (editForm.controls['description'].dirty || editForm.controls['description'].touched)" class="alerts">
              <div *ngIf="editForm.controls['description'].errors.required">
                Description is required!
              </div>
            </div>
          </div>
        </div>
        <hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-12">
            <label class="edit-label-style">Upload song</label>
            <input type="file" id="songFile" class="form-control" formControlName="songFile" (change)="onFileChange($event)" required/>
            <div *ngIf="songForm.controls['songFile'].invalid && (songForm.controls['songFile'].dirty || songForm.controls['songFile'].touched)" class="alerts">
              <div *ngIf="songForm.controls['songFile'].errors.required">
                Song file is required!
              </div>
            </div>
          </div>
        </div>
        <hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-4 form-group">

          </div>
          <div class="col-sm-4 form-group">
            <button type="submit" class="btn btn-danger btn-block" [disabled]="editForm.invalid">Update</button>
          </div>
          <div class="col-sm-4 form-group">

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
