<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5 class="edit-label-style"><fa name="headphones" class="header-icon"></fa>{{this.item.albumTitle}}</h5></div>
          <div id="element2"><fa name="times fa-lg" class="action-event" routerLink="/my-bands-music" tooltip="Close" placement="left"></fa></div>
        </div>
      </div>
      <hr class="edit-hr-style" />
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
            <div class="form-row">
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Album Title</label>
                <input type="text" formControlName="albumTitle" class="form-control form-control-sm" placeholder="Album Title" required />
                <div *ngIf="editForm.controls['albumTitle'].invalid && (editForm.controls['albumTitle'].dirty || editForm.controls['albumTitle'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['albumTitle'].errors.required">
                    Title is required!
                  </div>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Genre</label>
                <select formControlName="albumGenre" class="form-control form-control-sm" placeholder="Genre" required>
                  <option value="Rock">Rock</option>
                  <option value="Indi">Indi</option>
                  <option value="Pop">Pop</option>
                  <option value="Punk">Punk</option>
                  <option value="Country">Country</option>
                  <option value="Blues">Blues</option>
                  <option value="Jazz">Jazz</option>
                  <option value="Folk">Folk</option>
                  <option value="Hip-hop">Hip-hop</option>
                  <option value="Reggae">Reggae</option>
                  <option value="Electronic">Electronic</option>
                  <option value="New Age">New Age</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Classical">Classical</option>
                </select>
                <div *ngIf="editForm.controls['albumGenre'].invalid && (editForm.controls['albumGenre'].dirty || editForm.controls['albumGenre'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['albumGenre'].errors.required">
                    Genre is required!
                  </div>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">No. Tracks</label>
                <input type="number" onKeyDown="return false" min="0" max="50" formControlName="numberOfTracks" class="form-control form-control-sm" placeholder="No. Tracks" required />
                <div *ngIf="editForm.controls['numberOfTracks'].invalid && (editForm.controls['numberOfTracks'].dirty || editForm.controls['numberOfTracks'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['numberOfTracks'].errors.required">
                    No. tracks is required!
                  </div>
                </div>
              </div>
            </div>
            <hr class="edit-hr-style" />
            <div class="form-row">
              <div class="col-sm-4 form-group">
                <label class="edit-label-style">Hours</label>
                <input type="number" onKeyDown="return false" min="0" max="12" formControlName="albumHours" class="form-control form-control-sm" placeholder="Hours" required />
                <div *ngIf="editForm.controls['albumHours'].invalid && (albumForm.controls['albumHours'].dirty || editForm.controls['albumHours'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['albumHours'].errors.required">
                    Hours is required!
                  </div>
                </div>
              </div>
              <div class="col-sm-4 from-group">
                <label class="edit-label-style">Minutes</label>
                <input type="number" onKeyDown="return false" min="0" max="59" formControlName="albumMinutes" class="form-control form-control-sm" placeholder="Minutes" required />
                <div *ngIf="editForm.controls['albumMinutes'].invalid && (editForm.controls['albumMinutes'].dirty || editForm.controls['albumMinutes'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['albumMinutes'].errors.required">
                    Minutes is required!
                  </div>
                </div>
              </div>
              <div class="col-sm-4 from-group">
                <label class="edit-label-style">Seconds</label>
                <input type="number" onKeyDown="return false" min="0" max="59" formControlName="albumSeconds" class="form-control form-control-sm" placeholder="Seconds" required />
                <div *ngIf="editForm.controls['albumSeconds'].invalid && (editForm.controls['albumSeconds'].dirty || editForm.controls['albumSeconds'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['albumSeconds'].errors.required">
                    Seconds is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 form-group">
                <label class="edit-label-style">UPC/EAN Code</label>
                <input type="text" formControlName="upcCode" class="form-control form-control-sm" placeholder="UPC/EAN Code" required />
                <div *ngIf="editForm.controls['upcCode'].invalid && (editForm.controls['upcCode'].dirty || editForm.controls['upcCode'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['upcCode'].errors.required">
                    UPC is required!
                  </div>
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label class="edit-label-style">Year Released</label>
                <!--<input type="text" formControlName="yearReleased" class="form-control form-control-sm" placeholder="Year Released" required />-->
                <input type="text" onKeyDown="return false" placeholder="Date Released" formControlName="yearReleased" class="form-control form-control-sm" bsDatepicker require />
                <div *ngIf="editForm.controls['yearReleased'].invalid && (editForm.controls['yearReleased'].dirty || editForm.controls['yearReleased'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['yearReleased'].errors.required">
                    Date is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12 form-group">
                <label class="edit-label-style">Description</label>
                <textarea formControlName="description" class="form-control form-control-sm" placeholder="Describe Your Album" required></textarea>
                <div *ngIf="editForm.controls['description'].invalid && (editForm.controls['description'].dirty || editForm.controls['description'].touched)" class="alerts">
                  <div *ngIf="editForm.controls['description'].errors.required">
                    Description is required!
                  </div>
                </div>
              </div>
            </div>
            <hr class="edit-hr-style" />
            <div class="form-row">
              <div class="col-sm-4 form-group">

              </div>
              <div class=" form-group col-sm-4">
                <button type="submit" class="btn btn-danger btn-block" [disabled]="editForm.invalid">Update</button>
              </div>
              <div class="col-sm-4">

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
