<div class="container-fluid" no-padding>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="text-center">Now Playing</h3>
          <hr />
          <div class="col-sm-4 no-padding center-row">
            <img src="assets/images/this_day_burns.jpg" class="current-song-image" />
          </div>
          <h5 class="text-center">This Day Burns</h5>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h5>Music</h5>
          <hr />
          <div style="text-align:center">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h5>Videos</h5>
          <hr />
          <div style="text-align:center">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <vg-player>
                  <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                      <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                  </video>
                </vg-player>
              </ng-template>
              <ng-template carouselSlide>
                <vg-player>
                  <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                      <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                  </video>
                </vg-player>
              </ng-template>
              <ng-template carouselSlide>
                <vg-player>
                  <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                      <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                  </video>
                </vg-player>
              </ng-template>
              <ng-template carouselSlide>
                <vg-player>
                  <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                      <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                  </video>
                </vg-player>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h5>Events</h5>
          <hr />
          <div style="text-align:center">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg"></ng-template>
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg"></ng-template>
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg"></ng-template>
              <ng-template carouselSlide><img src="assets/images/seeds.jpeg"></ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
