<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <hr />
      <div id="element1"><h5><fa name="play" class="chevron-left-style" placement="right"></fa>Now Playing</h5></div>
      <br />
      <hr />
      <div class="col-sm-12 no-padding center-row text-center">
        <img [src]="albumPic" class="rounded-circle shadow now-playing-image" alt="...">
      </div>
      <p class="text-center center-row">This Day Burns</p>
    </div>
  </div>
  <div class="row" hidden>
    <div class="col-sm-4 no-padding center-row">
      <app-random-audio-player  ></app-random-audio-player>
    </div>
  </div>
  <div *ngFor="let item of items">
    <p>
      {{item.payload.doc.data().email}}
      {{item.payload.doc.data().uid}}
    </p>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <hr />
      <div id="element1"><h5><fa name="headphones" class="chevron-left-style" routerLink="/profile" tooltip="Back to Dashboard" placement="right"></fa>Popular Music</h5></div>
      <div id="element2" tooltip="See All Music" placement="left"><fa name="chevron-right fa-lg" class="action-event" routerLink="/view-all-albums"></fa></div>
      <br />
      <hr />

      <div style="text-align:center">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of albumItems">
            <img [src]="item.payload.doc.data().albumImageUrl" class="rounded-circle shadow view-member-image text-center" alt="..." (click)="viewAlbum(item)">
            <p class="album-text">
              {{item.payload.doc.data().albumTitle}}
            </p>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
      Advertising space here?
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <hr />
      <div id="element1"><h5><fa name="calendar" class="chevron-left-style" placement="right"></fa>Popular Events</h5></div>
      <div id="element2" tooltip="See All Events" placement="left"><fa name="chevron-right fa-lg" class="action-event" routerLink="/view-all-events"></fa></div>
      <br />
      <hr />
      <div class="text-center center-row">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of eventItems">
            <img src="assets/images/fireworks.jpeg" class="set-image shadow" (click)="viewEvent(item)">
            <p>
              {{item.payload.doc.data().eventTitle}}
            </p>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
      Advertising space here?
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <hr />
      <div id="element1"><h5><fa name="film" class="chevron-left-style" placement="right"></fa>Popular Videos</h5></div>
      <div id="element2" tooltip="See All Videos" placement="left"><fa name="chevron-right fa-lg" class="action-event" routerLink="/view-all-videos"></fa></div>
      <br />
      <hr />
      <div style="text-align:center">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of videoItems">
            <youtube-player
              [videoId]="item.payload.doc.data().youTubeId"
              [height]="200"
              [width]="250">
            </youtube-player>
            <p>
              {{item.payload.doc.data().videoTitle}}
            </p>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
      Advertising space here?
  </div>
  <br />
</div>
