<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5 class="create-label-style"><fa name="calendar" class="header-icon"></fa>Create Event</h5></div>
          <div id="element2" tooltip="Close" placement="left"><fa name="times fa-lg" class="action-event" routerLink="/my-bands-events"></fa></div>
        </div>
      </div>
      <hr class="create-hr-style" />
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm.value)">
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Title</label>
            <input type="text" formControlName="eventTitle" class="form-control form-control-sm" placeholder="Event Title" required />
            <div *ngIf="eventForm.controls['eventTitle'].invalid && (eventForm.controls['eventTitle'].dirty || eventForm.controls['eventTitle'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventTitle'].errors.required">
                Title is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Venue</label>
            <input type="text" formControlName="eventVenue" class="form-control form-control-sm" placeholder="Event Venue" required />
            <div *ngIf="eventForm.controls['eventVenue'].invalid && (eventForm.controls['eventVenue'].dirty || eventForm.controls['eventVenue'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventVenue'].errors.required">
                Venue is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Post/Zip Code</label>
            <input type="text" formControlName="eventPostcode" class="form-control form-control-sm" placeholder="Post/Zip Code" required />
            <div *ngIf="eventForm.controls['eventPostcode'].invalid && (eventForm.controls['eventPostcode'].dirty || eventForm.controls['eventPostcode'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventPostcode'].errors.required">
                Post Code is required!
              </div>
            </div>
          </div>
        </div>
        <hr class="create-hr-style" />
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Hour</label>
            <select formControlName="eventStartHour" class="form-control form-control-sm" placeholder="Minutes" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <div *ngIf="eventForm.controls['eventStartHour'].invalid && (eventForm.controls['eventStartHour'].dirty || eventForm.controls['eventStartHour'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventStartHour'].errors.required">
                Hour required!
              </div>
            </div>
            <!--<input type="text" formControlName="eventStartHour" class="form-control form-control-sm" placeholder="Hours" required />-->
          </div>
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Minute</label>
            <select formControlName="eventStartMinute" class="form-control form-control-sm" placeholder="Minutes" required>
              <option value="0">0</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
            <div *ngIf="eventForm.controls['eventStartMinute'].invalid && (eventForm.controls['eventStartMinute'].dirty || eventForm.controls['eventStartMinute'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventStartMinute'].errors.required">
                Minute required!
              </div>
            </div>
            <!--<input type="text" formControlName="eventStartMinute" class="form-control form-control-sm" placeholder="Minutes" required />-->
          </div>
          <div class="col-sm-4 form-group">
            <label class="create-label-style">AM:PM</label>
            <select formControlName="eventStartAmPm" class="form-control form-control-sm" placeholder="Minutes" required>
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
            <div *ngIf="eventForm.controls['eventStartAmPm'].invalid && (eventForm.controls['eventStartAmPm'].dirty || eventForm.controls['eventStartAmPm'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventStartAmPm'].errors.required">
                AM:PM is required!
              </div>
            </div>
            <!--<input type="text" formControlName="eventStartAmPm" class="form-control form-control-sm" placeholder="AM:PM" required />-->
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Date</label>
            <input type="text" onKeyDown="return false" formControlName="eventDate" placeholder="Event Date" class="form-control form-control-sm" bsDatepicker required />
            <div *ngIf="eventForm.controls['eventDate'].invalid && (eventForm.controls['eventDate'].dirty || eventForm.controls['eventDate'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventDate'].errors.required">
                Date is required!
              </div>
            </div>
            <!--<input type="text" formControlName="eventDate" class="form-control form-control-sm" placeholder="Event Date" required />-->
          </div>
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Tickets</label>
            <input type="number" min="0" onKeyDown="return false" formControlName="availableTickets" class="form-control form-control-sm" placeholder="Tickets" required />
            <div *ngIf="eventForm.controls['availableTickets'].invalid && (eventForm.controls['availableTickets'].dirty || eventForm.controls['availableTickets'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['availableTickets'].errors.required">
                Tickets is required!
              </div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Price</label>
            <input type="number" min="0" onKeyDown="return false" formControlName="eventPrice" class="form-control form-control-sm" placeholder="Price" required />
            <div *ngIf="eventForm.controls['eventPrice'].invalid && (eventForm.controls['eventPrice'].dirty || eventForm.controls['eventPrice'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventPrice'].errors.required">
                Price is required!
              </div>
            </div>
          </div>
        </div>
        <hr class="create-hr-style" />
        <div class="form-row">
          <div class="col-sm-12 form-group">
            <label class="create-label-style">Description</label>
            <textarea formControlName="eventDescription" class="form-control form-control-sm" placeholder="Description" required></textarea>
            <div *ngIf="eventForm.controls['eventDescription'].invalid && (eventForm.controls['eventDescription'].dirty || eventForm.controls['eventDescription'].touched)" class="alerts">
              <div *ngIf="eventForm.controls['eventDescription'].errors.required">
                Description is required!
              </div>
            </div>
          </div>
        </div>
        <hr class="create-hr-style" />
        <div class="form-row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="eventForm.invalid">Create</button>
          </div>
          <div class="col-sm-4">

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
