<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/profile" tooltip="Back to Dashboard" placement="right"></fa><fa name="calendar" class="header-icon"></fa>Events</h5></div>
          <div id="element2" tooltip="Add Event" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-event"></fa></div>
        </div>
      </div>
      <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any Events.</p>
          <fa name="calendar" class="no-data-icon"></fa>
          <button routerLink="/create-event" class="btn btn-outline-danger btn-block btn-sm">
            Add Event
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3">
            <button class="btn btn-danger btn-block btn-space">Upcoming</button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-danger btn-block btn-space">Past</button>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
        <hr />
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <div class="card center-components shadow" *ngFor="let item of items">
            <div class="card-body">
              <h5>{{item.payload.doc.data().eventTitle}}</h5>
              <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
              <hr />
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary btn-block btn-sm btn-space" (click)="editEvent(item)">Edit</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-danger btn-block btn-sm btn-space" (click)="viewEvent(item)">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
