<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/my-bands-music" tooltip="Back to Music" placement="right"></fa><fa name="headphones" class="header-icon"></fa>{{this.item.albumTitle}}</h5></div>
          <div id="element2" tooltip="Add Song" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-song"></fa></div>
        </div>
      </div>
      <hr />
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any Songs.</p>
          <fa name="music" class="no-data-icon"></fa>
          <button routerLink="/create-song" class="btn btn-outline-danger btn-block btn-sm">
            Add Song
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <img src="assets/images/seeds.jpeg" class="rounded-circle img-responsive shadow" alt="...">
          <input style="display:none" type="file" (change)="upload($event)" accept=".png,.jpg" #fileInput />
          <div class="space">
            <button type="button" class="btn btn-danger btn-block" (click)="fileInput.click()">Change</button>
          </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-8 space">
          <table>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.albumTitle}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Genre:
              </td>
              <td class="member-profile-text">
                {{this.item.albumGenre}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Released:
              </td>
              <td class="member-profile-text">
                {{this.item.yearReleased}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Tracks:
              </td>
              <td class="member-profile-text">
                {{this.item.numberOfTracks}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Duration:
              </td>
              <td class="member-profile-text">
                {{this.item.albumDuration}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5>Description</h5>
              <hr />
              <p class="biography-text">{{this.item.description}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5>Songs</h5>
              <hr />
              <div class="row" *ngFor="let item of items">
                <audio controls>
                  <source src="assets/music/Bruise.MP3" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
                <!--<div class="col-md-12">
                  <div id="left" tooltip="Play Song" (click)="playSong()">
                    <fa name="play" class="header-icon"></fa>
                  </div>
                  <div id="center">
                    <div (click)="playSong()">
                      <p class="album-text">{{item.payload.doc.data().songTitle}}</p>
                    </div>
                  </div>
                  <div id="right" class="edit-icon" (click)="editSong(item)" tooltip="Edit Song" placement="left">
                    <fa name="pencil"></fa>
                  </div>
                  <hr />
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">

        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="card shadow">
            <div class="card-body">
              <h5>Album Data</h5>
              <hr />
              <p>
                This section will hold album and song data and serve as a visual dashboard to advise of how many
                times songs have been played for this particluar album etc...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
