<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <hr />
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/my-bands-music" tooltip="Back to Music" placement="right"></fa><fa name="headphones" class="header-icon"></fa>{{this.item.albumTitle}}</h5></div>
          <div id="element2" tooltip="Add Song" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-song"></fa></div>
        </div>
      </div>
      <hr />
      <!--<div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any Songs.</p>
          <fa name="music" class="no-data-icon"></fa>
          <button routerLink="/create-song" class="btn btn-outline-danger btn-block btn-sm">
            Add Song
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>-->
      <div class="row">
        <div class="col-md-4 text-center">
          <img [src]="albumPic" class="rounded-circle shadow view-member-image" alt="...">
          <input style="display:none" type="file" (change)="upload($event, item.id); dummyUpload($event, item.id)" accept=".png,.jpg" #fileInput />
          <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value); onSubmit1(editForm.value)" hidden>
            <input type="text" formControlName="albumTitle" class="form-control form-control-sm" placeholder="Album Title" required />
            <select formControlName="albumGenre" class="form-control form-control-sm" placeholder="Genre" required>
              <option value="Rock">Rock</option>
              <option value="Indi">Indi</option>
              <option value="Pop">Pop</option>
              <option value="Punk">Punk</option>
              <option value="Country">Country</option>
              <option value="Blues">Blues</option>
              <option value="Jazz">Jazz</option>
              <option value="Folk">Folk</option>
              <option value="Hip-hop">Hip-hop</option>
              <option value="Reggae">Reggae</option>
              <option value="Electronic">Electronic</option>
              <option value="New Age">New Age</option>
              <option value="Alternative">Alternative</option>
              <option value="Classical">Classical</option>
            </select>
            <select formControlName="numberOfTracks" class="form-control form-control-sm" placeholder="No. Tracks" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
            </select>
            <select formControlName="albumHours" class="form-control form-control-sm" placeholder="No. Tracks" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select formControlName="albumMinutes" class="form-control form-control-sm" placeholder="No. Tracks" required>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
              <option value="51">51</option>
              <option value="52">52</option>
              <option value="53">53</option>
              <option value="54">54</option>
              <option value="55">55</option>
              <option value="56">56</option>
              <option value="57">57</option>
              <option value="58">58</option>
              <option value="59">59</option>
            </select>
            <select formControlName="albumSeconds" class="form-control form-control-sm" placeholder="No. Tracks" required>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
              <option value="51">51</option>
              <option value="52">52</option>
              <option value="53">53</option>
              <option value="54">54</option>
              <option value="55">55</option>
              <option value="56">56</option>
              <option value="57">57</option>
              <option value="58">58</option>
              <option value="59">59</option>
            </select>
            <input type="text" formControlName="upcCode" class="form-control form-control-sm" placeholder="UPC/EAN Code" required />
            <input type="text" onKeyDown="return false" placeholder="Date Released" formControlName="yearReleased" class="form-control form-control-sm" bsDatepicker require />
            <textarea formControlName="description" class="form-control form-control-sm" placeholder="Describe Your Album" required></textarea>
            <input type="text" formControlName="dummyAlbumId" />
            <div class="space">
              <button type="submit" class="btn btn-danger btn-block" (click)="fileInput.click()">Change</button>
            </div>
          </form>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-6 space">
          <table>
            <tr>
              <td class="member-profile-title">
                Title:
              </td>
              <td class="member-profile-text">
                {{this.item.albumTitle}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Genre:
              </td>
              <td class="member-profile-text">
                {{this.item.albumGenre}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Released:
              </td>
              <td class="member-profile-text">
                {{this.item.yearReleased.toDate() | date:'MM-dd-yyyy'}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Tracks:
              </td>
              <td class="member-profile-text">
                {{this.item.numberOfTracks}}
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Duration:
              </td>
              <td class="member-profile-text">
                {{this.item.albumHours}}hr : {{this.item.albumMinutes}}mins
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5>Songs</h5>
              <hr />
              <div class="row" *ngFor="let song of items">

                <audio controls>
                  <source [src]='song.payload.doc.get("songurl")' type="audio/mpeg">
                Your browser does not support the audio element.
                <br />
                </audio>
                <!-- FIX: Thiw whole area needs work. Need to be able to edit the song
                difectly from an edit icon on this page but cannot get it to work -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5>Description</h5>
              <hr />
              <p class="biography-text">{{this.item.description}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">

        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="card shadow">
            <div class="card-body">
              <h5>Album Data</h5>
              <hr />
              <p>
                This section will hold album and song data and serve as a visual dashboard to advise of how many
                times songs have been played for this particluar album etc...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
