<div class="container-fluid" no-paddig>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/main-page" tooltip="Back to Dashboard" placement="right"></fa>Bands</h5></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="card center-text shadow">
            <div class="card-body">
              <h5 class="card-title">Most Popular</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card center-text shadow">
            <div class="card-body">
              <h5 class="card-title">Pop</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="img-responsive"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card center-text shadow">
            <div class="card-body">
              <h5 class="card-title">Rock</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="img-responsive"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card center-text shadow">
            <div class="card-body">
              <h5 class="card-title">Blues</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="img-responsive"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card center-text shadow">
            <div class="card-body">
              <h5 class="card-title">Alternative</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="img-responsive"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card center-text shadow">
            <div class="card-body">
              <h5 class="card-title">Country</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="img-responsive"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card center-text shadow">
            <div class="card-body">
              <h5 class="card-title">Rock</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="img-responsive"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="img-responsive"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
