<div class="container-fluid" no-paddig>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/main-page" tooltip="Back to Home" placement="right"></fa>Bands</h5></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Most Popular</h5>
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide *ngFor="let item of albumItems">
                    <img [src]="item.payload.doc.data().albumImageUrl" class="rounded-circle shadow member-image text-center" alt="..." (click)="viewAlbum(item)">
                    <p class="album-text">
                      {{item.payload.doc.data().albumTitle}}
                    </p>
                  </ng-template>

                </owl-carousel-o>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title pull-left">Pop</h5>
              <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/pop-bands" tooltip="See All" placement="left"></fa>
              <br />
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title pull-left">Rock</h5>
              <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/rock-bands" tooltip="See All" placement="left"></fa>
              <br />
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title pull-left">Blues</h5>
              <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/blues-bands" tooltip="See All" placement="left"></fa>
              <br />
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title pull-left">Alternative</h5>
              <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/alternative-bands" tooltip="See All" placement="left"></fa>
              <br />
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title pull-left">Country</h5>
              <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/country-bands" tooltip="See All" placement="left"></fa>
              <br />
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title pull-left">Punk</h5>
              <fa name="chevron-right" class="chevron-left-style pull-right" routerLink="/punk-bands" tooltip="See All" placement="left"></fa>
              <br />
              <hr />
              <div style="text-align:center">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/seeds.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/brodiedawson.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/shecouldbetrouble.jpeg" class="set-image"></ng-template>
                  <ng-template carouselSlide><img src="assets/images/this_day_burns.jpg" class="set-image"></ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
