<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="user" class="header-profile"></fa>Dashboard</h5></div>

          <!--<div id="element2"><fa name="pencil fa-lg" class="header-edit" routerLink="/edit-profile"></fa></div>-->
        </div>
      </div>
      <hr />
      <!--<div class="row" *ngIf="changingImage">
        <div class="col-sm-12">
          <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>
          <button class="btn btn-sm" (click)="saveNewImage()">Save</button>
          Show this DIV
        </div>
      </div>-->
      <div class="row">
        <div class="col-sm-12">
          <div id="icon1">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-music" tooltip="Music" placement="top"><fa name="headphones" class="nav-icons"></fa></button>
          </div>
          <div id="icon2">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-members" tooltip="Members" placement="top"><fa name="users" class="nav-icons"></fa></button>
          </div>
          <div id="icon3">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-events" tooltip="Events" placement="top"><fa name="calendar" class="nav-icons"></fa></button>
          </div>
          <div id="icon4">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-videos" tooltip="Videos" placement="top"><fa name="play" class="nav-icons"></fa></button>
          </div>
          <div id="icon5">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-cd-funds" tooltip="CD Funds" placement="top"><fa name="dollar" class="nav-icons"></fa></button>
          </div>
          <div id="icon6">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-by-fans" tooltip="Fans Buy Bands" placement="top"><fa name="heartbeat" class="nav-icons"></fa></button>
          </div>
        </div>
      </div>
      <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not created a profile.</p>
          <fa name="user" class="user"></fa>
          <button routerLink="/create-profile" class="btn btn-primary btn-block">
            Create Profile
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row space" *ngFor="let item of items">
        <div class="col-md-4 text-center">
          <!-- TODO: Make sure image is same size no matter the upload -->
          <img src="https://firebasestorage.googleapis.com/v0/b/radiowrx-app.appspot.com/o/Images%2Fprofile%2Favatar%2FprofilePic_xTmxDYi8eXYDFvaEX4c9?alt=media&token=3f09d571-0d6b-4e58-b017-f77835852984" class="rounded-circle shadow" alt="...">
          <input style="display:none" type="file" (change)="upload($event,item.payload.doc.id)" accept=".png,.jpg" #fileInput />
          <div class="space">
            <button type="button" class="btn btn-danger btn-block" (click)="fileInput.click()">Change</button>
          </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-7 space">
          <table>
            <tr>
              <td>
                {{item.payload.doc.data().artistName}}
              </td>
            </tr>
            <tr>
              <td>
                {{item.payload.doc.data().artistGenre}}
              </td>
            </tr>
            <tr>
              <td>
                {{item.payload.doc.data().yearFormed}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center align-header">Music</h5>
              <hr />
              <div class="card-body">
                <p class="text-center">
                  <fa name="signal" class="user"></fa>
                </p>
                Text here
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center align-header">Events</h5>
              <hr />
              <div class="card-body">
                <p class="text-center">
                  <fa name="signal" class="user"></fa>
                </p>
                Text here
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center align-header">Fans Buy Bands</h5>
              <hr />
              <div class="card-body">
                <p class="text-center">
                  <fa name="signal" class="user"></fa>
                </p>
                Text here
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center align-header">CD Funds</h5>
              <hr />
              <div class="card-body">
                <p class="text-center">
                  <fa name="signal" class="user"></fa>
                </p>
                Text here
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center align-header">Private Party</h5>
              <hr />
              <div class="card-body">
                <p class="text-center">
                  <fa name="signal" class="user"></fa>
                </p>
                Text here
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 space">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center align-header">Videos</h5>
              <hr />
              <div class="card-body">
                <p class="text-center">
                  <fa name="signal" class="user"></fa>
                </p>
                Text here
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr />
        <div class="row" *ngFor="let item of items">
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3 space">
            <button type="submit" class="btn btn-danger btn-block" (click)="editProfile(item)">
              Edit
            </button>
          </div>
          <div class="col-sm-3 space">
            <button class="btn btn-primary btn-block" (click)="logOut()">
              Log Out
            </button>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
