<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <hr />
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/main-page" tooltip="Back to Home" placement="right"></fa><fa name="calendar" class="header-icon"></fa>All Events</h5></div>
          <div id="element2" tooltip="Search" placement="left"><fa name="search fa-lg" class="action-event"></fa></div>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div>
    <tabset justified="true">
      <tab heading="Live Events" id="live">
        <br />
        <div class="row text-center">
          <div class="col-sm-12">
            <div class="center-components" *ngFor="let item of liveItems">
              <img [src]="item.payload.doc.data().eventImageUrl" class="set-image shadow" (click)="viewLiveEvent(item)">
              <p class="view-album-text">
                {{item.payload.doc.data().eventTitle}}
              </p>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Virtual Events" id="virtual">
        <br />
        <div class="row text-center">
          <div class="col-sm-12">
            <div class="center-components" *ngFor="let item of virtualItems">
              <img [src]="item.payload.doc.data().eventImageUrl" class="set-image shadow" (click)="viewVirtualEvent(item)">
              <p class="view-album-text">
                {{item.payload.doc.data().eventTitle}}
              </p>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
